# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# vite / tanstack
/.output/
/dist/
/.tanstack/tmp

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo

# tanstack router generated
src/routeTree.gen.ts

# wrangler
.wrangler

.garbage

# lingui compiled files
src/locales/en/**/*.ts
src/locales/zh/**/*.ts
